.recipe-title {
    margin-bottom: 2vh;
}

.front {
    z-index: 100;
}

.grey {
    color: grey
}

.list {
    margin-top: 3vh;
    list-style-type: none;
    text-align: left;
}

.recipe-image {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

#recipe {
    margin: 4vh 30vh 8vh;
    justify-content: center;
}
