.recipe-title {
    margin-bottom: 2vh;
}

.grey {
    color: grey
}

#recipe {
    margin: 4vh 6vh 8vh;
}

#right {
    float: right;
    /*Bad practice because I'm a bad person*/
    margin-right: 15vh;
    margin-top: 5vh;
    min-height: 45vh;
    min-width: 45vh;
    max-height: 60%;
    max-width: 60%;
    object-fit: contain;
    justify-content: center;
}