body {
    background-image: url("../resources/depositphotos_207338188-stock-photo-healthy-food-background-frame-of.jpg");
}

h1, h2, h3, h4, h5 {
    text-align: center;
    color: white;
}

p {
    color: white;
}

.margin-6vh {
    margin-top: 6vh;
}

#diets {
    margin: 4% 20% 10%;
}