h2 {
    text-align: center;
    color: white ;
}

h5 {
    text-align: center;
    color: white ;
}

p {
    text-align: center;
    color: white ;
}

#daily-survey-container {
    margin-bottom: 3vh;
}

.margin-6vh {
    margin: 6vh;
}

.margin-top-5vh {
    margin-top: 5vh;
}

.margin-left-2vh {
    margin-left: 2vh;
}