h2 {
    text-align: center;
}

#daily-survey-container {
    margin: 7% 4vh 3vh;
}

.margin-6vh {
    margin: 6vh;
}

.margin-top-5vh {
    margin-top: 5vh;
}

.margin-left-2vh {
    margin-left: 2vh;
}